@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
html {
  @apply h-full;
}
body {
  @apply h-full min-h-screen bg-gray-100 text-gray-500;

  margin: 0;
  min-width: 320px;
}
#root {
  @apply h-full;
}

h1 {
  @apply text-2xl font-bold text-gray-700;
}

h2 {
  @apply text-xl font-bold text-gray-700;
}

h3 {
  @apply text-lg font-bold text-gray-700;
}
h4,
h5,
h6 {
  @apply text-sm font-bold text-gray-700;
}

p {
  @apply mb-4;
}
